<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="com.iver.cit.gvsig.cad"/>
	<depends plugin-name="es.udc.cartolab.gvsig.users"/>
	<depends plugin-name="es.icarto.gvsig.commons"/>
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.udc.cartolab.gvsig.elle.LoadMapExtension" active="true">
			<menu text="data_base_menu/es.udc.cartolab.gvsig.elle.LoadMapExtension"
				icon="es.udc.cartolab.gvsig.elle.LoadMapExtension"
				action-command=""
				position="04"/> 
			<tool-bar name="ELLE">
				<action-tool icon="es.udc.cartolab.gvsig.elle.LoadMapExtension" tooltip="es.udc.cartolab.gvsig.elle.LoadMapExtension"
					action-command="" position="04" />
			</tool-bar>
		</extension>
		<extension class-name="es.udc.cartolab.gvsig.elle.SaveMapExtension" active="true">
			<menu text="data_base_menu/es.udc.cartolab.gvsig.elle.SaveMapExtension"
				icon="es.udc.cartolab.gvsig.elle.SaveMapExtension"
				action-command=""
				position="05" />
			<tool-bar name="ELLE">
				<action-tool icon="es.udc.cartolab.gvsig.elle.SaveMapExtension" tooltip="es.udc.cartolab.gvsig.elle.SaveMapExtension"
					action-command="" position="05" />
			</tool-bar>
		</extension>
		<extension class-name="es.udc.cartolab.gvsig.elle.LoadAllLegendsExtension" active="true">
			<menu text="data_base_menu/es.udc.cartolab.gvsig.elle.LoadAllLegendsExtension"
				icon="es.udc.cartolab.gvsig.elle.LoadAllLegendsExtension"
				action-command=""
				position="06"/>
			<tool-bar name="ELLE">
				<action-tool icon="es.udc.cartolab.gvsig.elle.LoadAllLegendsExtension" tooltip="es.udc.cartolab.gvsig.elle.LoadAllLegendsExtension"
					action-command="" position="06" />
			</tool-bar>
		</extension>
		
		<extension class-name="es.udc.cartolab.gvsig.elle.SaveAllLegendsExtension" active="true">
			<menu text="data_base_menu/Save_legends/Leg_actives"
				action-command="ACTIVES"
				position="0710"/> 
			<menu text="data_base_menu/Save_legends/Leg_visibles"
				action-command="VISIBLES"
				position="0720"/>
			<menu text="data_base_menu/Save_legends/Leg_map_overview"
				action-command="MAPOVERVIEW"
				position="0730" />
			<menu text="data_base_menu/Save_legends/Leg_all"
				icon="es.udc.cartolab.gvsig.elle.SaveAllLegendsExtension"
				action-command="ALL"
				position="0740"/>
			<tool-bar name="ELLE">
				<action-tool icon="es.udc.cartolab.gvsig.elle.SaveAllLegendsExtension" tooltip="Save_legends"
					action-command="ALL" position="07" />
			</tool-bar>
		</extension>
		
		<extension class-name="es.udc.cartolab.gvsig.elle.DeleteMapExtension" active="true">
			<menu text="data_base_menu/es.udc.cartolab.gvsig.elle.DeleteMapExtension"
				icon="es.udc.cartolab.gvsig.elle.DeleteMapExtension"
				action-command=""
				position="08" />
		</extension>
		
		
		<extension class-name="es.udc.cartolab.gvsig.elle.DeleteAllLegendsExtension" active="true">
			<menu text="data_base_menu/des.udc.cartolab.gvsig.elle.DeleteAllLegendsExtension"
				icon="es.udc.cartolab.gvsig.elle.DeleteAllLegendsExtension"
				action-command="DeleteAllLegends"
				position="09" />
		</extension>
		<extension class-name="es.udc.cartolab.gvsig.elle.ConfigExtension" active="true">
		</extension>
	</extensions>
</plugin-config>